section( layout="row" flex )
  md-sidenav.md-sidenav-left.md-whiteframe-z2( lists md-is-locked-open='true' )
  md-content( flex layout="column" layout-fill )
    md-toolbar: .md-toolbar-tools
      h2 elo
    md-content( ui-view layout-padding )
