form( layout="column" ng-submit="listForm.submit()" )
  md-input-container
    label Name
    input( ng-model="listForm.list.name" )

  md-input-container
    label Question
    textarea( ng-model="listForm.list.description" )

  md-content( layout="row" ng-repeat="item in listForm.list.items" )
    md-input-container( flex="33" )
      label Item {{$index + 1}}
      input( ng-model="item.name" )
    md-input-container( flex="66" )
      label Description
      textarea( ng-model="item.description" )

  div( layout="row" )
    md-button.md-raised.md-primary( flex-sm ) Save
