md-content( layout-padding )
  .md-body-1( flex marked="listCompare.list.description" )

md-content( layout-padding layout="row" flex )
  md-card( flex ): md-card-content
    h1.md-display-3 one
  md-card( flex ): md-card-content
    h1.md-display-3 two
