md-toolbar.md-whiteframe-z1: .md-toolbar-tools
  md-button.md-icon-button( show-md hide-gt-md ng-click="root.toggleNav('left')" )
    md-icon menu
  h2 New List
md-content( layout-padding )
  list-form( list="listNew.list" on-submit="listNew.submit()" layout="column" flex )
