md-toolbar.md-whiteframe-z1: .md-toolbar-tools
  md-button.md-icon-button( show-md hide-gt-md ng-click="root.toggleNav('left')" )
    md-icon menu
  h2 {{list.list.name}}

  span( flex )

  md-button.md-icon-button( ui-sref=".edit" )
    md-icon edit

div( ui-view="" layout="column" flex )
  md-content( layout-padding )
    .md-body-1( flex marked="list.list.description" )
    md-button.md-raised.md-primary( ui-sref=".compare" ) Start comparing
  md-list: md-list-item( ng-repeat="item in list.list.items" )
    p {{item.name}}
