md-toolbar.md-whiteframe-z1: .md-toolbar-tools
  md-button.md-icon-button( show-md hide-gt-md ng-click="root.toggleNav('left')" )
    md-icon menu
  h2 {{list.list.name}}

  span( flex )

  md-button.md-icon-button( ui-sref=".edit" )
    md-icon edit
  md-button.md-icon-button( ng-click="list.confirmDelete($event)" )
    md-icon delete

div( ui-view="" layout="column" flex )
  md-content( layout-padding style="text-align: center" )
    .md-headline( marked="list.list.description" flex )
    md-button.md-raised.md-primary( ui-sref=".compare" ) Start comparing
    md-button( ui-sref=".results" ) See results
