md-toolbar.md-whiteframe-z1: .md-toolbar-tools
  md-button.md-icon-button( show-md hide-gt-md ng-click="root.toggleNav('left')" )
    md-icon menu
  h2 {{list.list.name}}

  span( flex )

  md-button.md-icon-button( ng-click="$state.go('.edit')" )
    md-icon edit

div( ui-view="" )
  md-content( layout-padding )
    p( flex ng-show="list.list.description" ) {{list.list.description}}
  md-list
    md-list-item( ng-repeat="item in list.list.items" )
      p {{item.name}}
