.route-root
  md-sidenav md-list
    md-list-item
      &.ng-enter, &.ng-leave
        transition all ease-in-out .2s
        overflow hidden

      &.ng-enter
        opacity 0
        min-height 0
        max-height 0

        &.ng-enter-active
          opacity 1
          max-height 80px

      &.ng-leave
        opacity 1
        min-height 0
        max-height 80px

        &.ng-leave-active
          opacity 0
          max-height 0
